.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @extend %transition;
    transition-property: color;

    height: 50px;
    padding: 0 9px;

    cursor: pointer;

    svg {
        @extend %transition;
        transition-property: fill, stroke;

        fill: $color-secondary-5;
    }

    &:hover svg {
        fill: $color-secondary-2;
    }

    &.is-disabled {
        pointer-events: none;
        opacity: 0.35;
    }
}


.editor__content .btn {
    height: 40px;
}
