.slider-bar {
    position: relative;

    &__line {
        background: $color-secondary-2;
        height: 1px;
        width: 1px;
        transform-origin: 0% 0%;
        cursor: move;

        transition: background-color $duration-snap $ease-out;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: -20px;
            width: 1px;
            height: 40px;
        }

        &:hover,
        &.is-dragging {
            background: #fff;
        }
    }

    &__handle {
        cursor: move;

        position: absolute;
        width: 24px;
        height: 40px;
        left: -12px;
        top: -20px;

        &:before {
            content: "";
            position: absolute;
            left: 7px;
            top: 15px;
            width: 11px;
            height: 11px;
            transform: scale(0.95) rotate(45deg);
            background: $color-secondary-2;

            transition: background-color $duration-snap $ease-out;
        }

        &:hover:before,
        &.is-dragging:before,
        .slider-bar__line:hover ~ &:before,
        .slider-bar__line.is-dragging ~ &:before {
            background: #fff;
        }
    }
}
