$color-primary-1: #252526;
$color-primary-2: #3f3f46;
$color-primary-3: #626268;
$color-primary-4: #cccccc;

$color-secondary-1: #4c1127;
$color-secondary-2: #ff005e;
$color-secondary-3: #ffc5da;
$color-secondary-4: #f3f3f3;
$color-secondary-5: #ffffff;
